* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --menu-background: rgb(255, 134, 134);
    --div-hover-color: rgb(255, 119, 119);
    --div-active-color: rgb(255, 109, 109);
    --background: rgb(182, 75, 75);
    --info-item: rgb(167, 60, 60);
    --font-color: rgb(235, 235, 235);
}

body {
    width: 100%;
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

aside {
    background-color: var(--menu-background);
    width: 20%;
    min-width: 200px;
    height: 100vh;
    padding: 15px;
}

aside > h1 {
    font-size: 2rem;
}

img {
    height: 20px;
    width: 20px;
}

.tasks {
    margin: 25px 0;
    border-top: 2px solid black;
}

.projects {
    border-top: 2px solid black;
}

.projects > h2 {
    margin-top: 15px;
}

.tasks div,
.projects div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
    padding: 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.tasks div:hover,
.projects div:hover {
    background-color: var(--div-hover-color);
    padding-left: 10px;
}

.tasks div:active,
.projects div:active {
    transform: scale(0.95);
    background-color: var(--div-active-color);
} 

main {
    width: 100%;
    min-width: 450px;
    padding: 15px;
    margin: 20px 10%;
}

main .title {
    border-bottom: 1px solid black;
}

.task-item {
    margin-top: 25px;
    padding: 10px;
    transition: 0.3s;
}

.task-item:hover {
    background-color: var(--info-item);
    cursor: pointer;
}

.task-item p:first-child {
    font-weight: 700;
    font-size: 1.1rem;
}

.task-info,
.task-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.task-info {
    margin-top: 10px;
}

.task-info div,
.task-info p {
    background-color: var(--info-item);
    padding: 3px 7px;
    border-radius: 15px;
}
