* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: rgb(182, 75, 75);
    --menu-background: rgb(255, 134, 134);
    --div-hover-color: rgb(255, 119, 119);
    --div-active-color: rgb(255, 109, 109);
    --info-item: rgb(167, 60, 60);
    --modal-box-color: rgb(155, 4, 4);
    --overlay-color: rgb(182, 75, 75, 75%);
    --edit-modal-color: rgb(255, 104, 104);
    --font-color: rgb(235, 235, 235);
}

body {
    width: 100%;
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

img {
    height: 20px;
    width: 20px;
}

aside {
    background-color: var(--menu-background);
    width: 20%;
    min-width: 200px;
    height: 100vh;
    padding: 15px;
    position: fixed;
}

aside > h1 {
    font-size: 2rem;
}

.tasks {
    margin: 25px 0;
}

.tasks, 
.projects {
    border-top: 2px solid black;
}

.tasks > #add-task > h2 {
    font-size: 1.3rem;
}

.projects > #add-project > h2 {
    font-size: 1rem;
}

.projects > h2 {
    margin-top: 15px;
}

.tasks > div > p,
.project-item > div > p {
    font-size: 0.95rem;
}

.project-list > div > .project-title {
    display: flex;
    gap: 10px;
}

.project-list > .project-item {
    justify-content: space-between;
}

.project-item > img {
    transition: 0.3s;
}

.project-item > img:hover {
    transform: scale(1.1);
}

.project-item > img:active {
    transform: scale(0.9);
}

.tasks > div,
.projects > div,
.project-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 6px 0;
    padding: 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.tasks > div:hover,
.projects > div:hover,
.project-item:hover {
    background-color: var(--div-hover-color);
    padding-left: 10px;
}

.tasks > div:active,
.projects > div:active,
.project-item:active {
    background-color: var(--div-active-color);
    transform: scale(0.95);
}

main {
    width: 100%;
    min-width: 550px;
    margin: 20px 10% 20px max(28%, 250px);
    padding: 15px;
}

main > .title {
    border-bottom: 1px solid black;
}

.task-item {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    min-height: 115px;
    padding: 10px;
    list-style: none;
    transition: 0.3s;
}

.task-item:hover {
    background-color: var(--info-item);
    cursor: pointer;
}

.task-content > p:first-child {
    font-weight: 700;
    font-size: 1.1rem;
}

.task-content > .task-info {
    margin-top: 10px;
}

.task-content > .task-info > div,
.task-content > .task-info > p {
    background-color: var(--info-item);
    padding: 4px 8px;
    border-radius: 15px;
}

.task-info,
.task-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.task-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80px;
}

.task-settings > button {
    background-color: var(--menu-background);
    padding: 3px;
    font-weight: 700;
    border: 1px solid black;
    transition: 0.2s;
}

.task-settings > button:hover {
    background-color: var(--info-item);
    color: var(--font-color);
    opacity: 0.9;
}

.task-settings > button:active {
    transform: scale(0.9);
}

.modal-box {
    background-color: var(--modal-box-color);
    position: relative;
    height: 200px;
    width: 90%;
    margin: 10px auto;
    padding: 15px;
}

.modal-box > form {
    display: flex;
    justify-content: space-between;
}

.modal-box > form > div {
    width: 45%;
}

.modal-box input,
.modal-box select,
.modal-box textarea {
    border: none;
}

.left-form > input,
.left-form > select {
    background-color: var(--info-item);
    color: var(--font-color);
    padding: 7px 5px;
}

.left-form,
.right-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-form > input::placeholder,
.right-form > textarea::placeholder {
    color: var(--font-color);
}

.right-form > textarea {
    background-color: var(--info-item);
    height: 110px;
    width: 100%;
    padding: 10px;
    resize: none;
}

.right-form > .form-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.right-form > .form-buttons > button {
    width: 45%;
    padding: 7px 5px;
}

#overlay,
#edit-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay {
    background-color: var(--overlay-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#edit-modal {
    background-color: var(--edit-modal-color);
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 1px 1px 4px;
}

#edit-modal > h2 {
    margin-bottom: 15px;
}

#edit-modal > input,
.modal-mid-section > select,
#edit-modal > textarea,
.edit-buttons > button {
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.modal-mid-section > select {
    width: 125px;
}

#edit-modal > textarea {
    height: 150px;
    width: 300px;
    resize: none;
}

.edit-buttons {
    display: flex;
    gap: 25px;
}

.edit-buttons > button {
    width: 80px;
    font-weight: 700;
    transition: 0.3s;
}

.edit-buttons > button:hover {
    background-color: var(--info-item);
    color: var(--font-color);
    opacity: 0.9;
}

.edit-buttons > button:active {
    transform: scale(0.9);
}
